#!/bin/bash
logs=~/SoilCam/Logs/DailyProcess.txt

#descibe the prefix of the files we are dealing with, location of images, and location of videos

prefix=ge_
imgloc=~/SoilCam/images/generic
vidloc=~/SoilCam/videos/generic

#describe the convert settings we will be using
#It is okay to leave a field empty, the steps are processed in order.
one="-resize x1080"
two="-crop 769x1080-1+0"
three=""
four=""

#examples:
#	-resize x1080		will resize your image so it is 1080 pixels tall
#	-crop 1920x1080+50+0	will crop a 1920x1080 pixel image, starting 50 pixels in from the top? (can not remember...)
#	-rotate 270		will rotate your image by 270 degrees
#	keep in mind the order of operations, rotating, cropping, and then resizing will take longer than if you were to resize first.
#	if you get the error "[libx264 @ 0x123d900] width not divisible by 2 (769x1080)"
#	fix this by cropping out one pixel with the command -crop 769x1080-1+0

