#!/bin/bash
logs=~/logs/DailyProcess.txt

#descibe the prefix of the files we are dealing with, location of images, and location of videos

prefix=ss_
imgloc=/mnt/data/images/squirrel
vidloc=/mnt/data/videos/squirrel

#describe the convert settings we will be using
#It is okay to leave a field empty, the steps are processed in order.
one="-resize x1080"
two="-rotate 90"
three=""
four=""
